.modalContainer{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    max-width: 35rem;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.headerLeft{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btnClose{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    cursor: pointer;
}