.left {
    position: sticky;
    top: 5rem;
    height: max-content;
}

.profile {
    display: flex;
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    padding: var(--card-padding);
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}

.profileImg {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.sidebarWrapper{
    margin-top: 1rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
}


.leftList {
    list-style: none;
}

.leftListItem {
    padding: 0.8rem 0;
    display: flex;
    cursor: pointer;
    transition: all 300ms ease;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

 .leftListItem:first-child{
    border-top-left-radius: var(--card-border-radius);
 }
 .leftListItem:last-child{
    border-bottom-left-radius: var(--card-border-radius);
 }

.leftListItem h3{
    margin-left: 1rem;
    font-size: 1rem;
    color: var(--color-dark);
}
.leftListItem svg{
    margin-left: 1.4rem;
    color: var(--color-gray);
}

.iconWrapper{
    position: relative;
    display: flex;
    align-items: center;
}
.count{
    position: absolute;
    top: -0.8rem;
    right: -0.9rem;
    border-radius: 0.8rem;
    padding: 0.1rem 0.3rem;
    background-color: var(--color-danger);
    color: var(--color-white);
    font-size: 0.7rem;
    width: fit-content;

} 

.leftListItem:hover{
    background-color: var(--color-light);
}

.btnCreate{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}

.discover{
    display: none;
}

@media screen and (max-width: 1024px) {
    .left {
        width: 5rem;
        z-index: 5;
    }
    .profile{
        display: none;
    }
    .leftListItem h3 {
        display: none;
    }
   
}


@media screen and (max-width:800px){
    .discover{
        display: flex;
    }
}