.postForm {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin-top: 1rem;
    position: relative;
}

.inputBox {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profileImg {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-dark);
    margin: 0.5rem 0;
    padding: 0.2rem;
    border-radius: 0.2rem;
    resize: none;
}

.input:focus {
    outline-color: var(--color-primary);
    border: none;
}

.fileInput label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.formFooter {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

.footerInputBox {
    display: flex;
    gap: 1rem;
}

.formFooter svg {
    color: var(--color-primary);
}

.banner {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    margin: 0.5rem 0;
    border-radius: var(--card-border-radius);
}

.tagInput {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    margin: 0.5rem;
    align-items: center;
}

.btnTransparent {
    background-color: transparent;
}

.tag {
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    margin: 0.2rem;
    background-color: var(--color-light);
}
